[submodule "3rd_party/MNN"]
	path = 3rd_party/MNN
	url = https://github.com/alibaba/MNN.git
[submodule "3rd_party/yaml-cpp"]
	path = 3rd_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rd_party/jsoncpp"]
	path = 3rd_party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
